.rcd-material-table {
  //Material design metrics
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
}

.rcd-material-table-header {
  //Material design metrics
  height: 56px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  padding-left: 24px;
  padding-right: 24px;
}

.rcd-material-table-body {
}

.rcd-material-table-row {
  border-top: solid rgba(0, 0, 0, 0.12) 1px;
  //Material design metrics
  height: 48px;
  padding-left: 24px;
  padding-right: 24px;
}

.rcd-material-table-checkbox :extend(.rcd-core-clickable) {
  padding-left: 24px;
}

.rcd-material-table-body {
  .rcd-material-table-row.selected {
    //Material design metrics
    background-color: #f5f5f5;
  }

  .rcd-material-table-row:hover {
    //Material design metrics
    background-color: #eee;
  }
}

.rcd-material-table-cell {
  padding: 0 24px;
}

.rcd-material-table-icons {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.54);
}

.rcd-material-table-icon :extend(.rcd-flex-hbox, .rcd-material-button) {
  margin-left: 24px;
}

.rcd-material-table-icon.disabled {
  color: rgba(0, 0, 0, 0.26);
}

.rcd-material-table-nav :extend(.rcd-flex-hbox) {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  border-top: solid rgba(0, 0, 0, 0.12) 1px;
  //Material design metrics
  height: 56px;
  padding-right: 14px;
}

.rcd-material-table-nav-iterator {
  //Material design metrics
  margin-left: 32px;
  margin-right: 8px;
}

.rcd-material-table-nav-icon :extend(.rcd-material-button) {
  color: rgba(0, 0, 0, 0.54);
  //Material design metrics
  margin-left: 24px;
}

.rcd-material-table-nav-icon.disabled {
  color: rgba(0, 0, 0, 0.26);
}

.rcd-material-table-nocontent :extend(.rcd-flex-hbox) {
  border-top: solid rgba(0, 0, 0, 0.12) 1px;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 48px;
  font-size: 13px;
}