.rcd-material-application-bar :extend(.rcd-flex-hbox, .rcd-material-shadow) {
  z-index: 2;
  //Material specs
  width: 100%;
  background-color: @rcd-primary-color;
  color: @rcd-light-primary-text-color;
  @media (max-width: 800px) {
    height: 56px;
    padding: 0 4px;
  }
  @media (min-width: 801px) {
    height: 64px;
    padding: 0 12px ;
  }

}

.rcd-material-application-title {
  //Material specs
  font-weight: 500;
  font-size: 20px;
  //TODO
  @media (max-width: 800px) {
    margin-left: 12px;
  }
  @media (min-width: 801px) {
    margin-left: 20px;
  }
}

.rcd-material-application-bar-icon {
  //Material specs
  //TODO
  @media (min-width: 801px) {
    display: none;
  }
}

