//Material specs
@rcd-app-title-font-size: 20px;
@rcd-app-title-font-weight: 500;
@rcd-nav-item-font-size: 14px;
@rcd-nav-item-font-weight: 500;

@rcd-body-desktop-font-size: 13px;
@rcd-body-device-font-size: 14px;
@rcd-caption-font-size: 12px;
@rcd-button-font-size: 14px;
@rcd-button-font-weight: 500;

@rcd-table-row-font-size: 13px;
@rcd-table-header-font-size: 12px;
@rcd-table-header-font-weight: 500;
@rcd-table-row-text-align: left;
@rcd-table-row-numeric-text-align: right;

@rcd-table-title-font-size: 20px;
@rcd-table-card-footer-font-size: 12px;

